{% extends 'base.html' %}
{% block title %}Jengu-Details {% endblock %}
{% load bulma_tags %}
{% block content %}

  {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="message is-{{ message.tags }}"{% endif %}>
        <div class="message-body">{{ message }}</div>
          </li>
        {% endfor %}
      </ul>
  {% endif %}

<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <h2 class="title is-2">
                    <span id="firstName_encrypted">{{client.first_name}}</span>
                    <span id="lastName_encrypted">{{client.last_name}}</span>
                </h2>
                <ul>
                    <li>{{client.birth_date}}</li>
                    <li> <span class="tag is-info">{{client.status}}</span></li>
                    <li> <span id="mail_encrypted">{{client.mail}}</span></li>
                    <li> <span id="phone_encrypted">{{client.phone}}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="column">
        <article class="panel is-primary">
            <p class="panel-heading">
                Notes
            </p>
            <p class="panel-tabs">
                <a class="is-active" href="#read_notes">Read</a>
                <a href="#edit_notes">Edit</a>
            </p>
            <a id="read_notes" class="panel-block is-active">
                <span id="notes_encrypted">{{client.notes}}</span>
            </a>
            <a id="edit_notes" class="panel-block is-hidden">
                {% include "console/client_update_form.html" %}
            </a>
    </div>
</div>
<table class="table" id="consultation_table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Type</th>
            <th>Payed</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        {% for c in consultations%}
        <tr>
            <th>{{c.id}}</th>
            <th>{{c.date}}</th>
            <td><span class="tag is-info">{{c.fk_type.denomination}}</span></td>
            <td>{{c.payed}}</td>
            <td><span class="tag is-primary">{{c.status}}</span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}